<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Gif</title>
</head>
<body>
    <h1>Add Gif</h1>
    <nav>
        <a href="{% url 'add_gif' %}">Add New GIF</a>
        <a href="{% url 'add_category' %}">Add New Category</a>
        <a href="{% url 'categories_view' %}">View Categories</a>
    </nav>
    <form method="post">
        {%csrf_token%}
        {{form}}
        <button type="submit">Submit</button>
    </form>
    

</body>
</html>