<!DOCTYPE html>
<html>
<head>
    <title>GIF: {{ gif.title }}</title>
</head>
<body>
    <h1>GIF: {{ gif.title }}</h1>
    <nav>
        <a href="{% url 'homepage' %}">Back to Homepage</a>
    </nav>
    <hr>
    <img src="{{ gif.url }}" alt="{{ gif.title }}" width="400">
    <p>Uploader: {{ gif.uploader_name }}</p>
    <p>Created At: {{ gif.created_at }}</p>
    <p>Categories:</p>
    <ul>
        {% for category in gif.categories.all %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    
    <p>Likes: {{ gif.likes }}</p>

    <form method="POST" action="{% url 'increment_likes' gif.id %}">
    {% csrf_token %}
    <button type="submit" style="background-color: green;">Increment Likes</button>
    </form>

    <form method="POST" action="{% url 'decrement_likes' gif.id %}">
    {% csrf_token %}
    <button type="submit" style="background-color: red;">Decrement Likes</button>
    </form>
</body>
</html>