{% extends 'rent/base.html' %}

{% block content %}
  <h1>Add Customer</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          <div class="text-danger">
            {% for error in field.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Add Customer</button>
  </form>
{% endblock %}