* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fontawesome;
}

/* .container {
    width: 100vw;
    height: 100vh;
} */

.header {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100px;
    display: block;
    position: fixed;
    z-index: 1;

}

i {
    height: 100px;
    padding: 1.2rem;
    filter: invert(1);
    border: 2px solid white;
}

.navbar {
    height: 100px;
    background-color: black;
    display: block;
    position: relative;
    float: right;
    text-align: right;
    padding: 2.2rem;
    color: white;
}

.navbar:hover {
    color: aquamarine;
}

.container1 {
    position: relative;
    top: 100px;
    text-align: center;
    height: calc(100vh - 100px);
}

.card {
    display: inline-block;
    position: relative;
    width: 20%;
    text-align: center;
    padding: 20px;
    font-size: 0.7em;
    /* border: 1px solid black; */
}

.discount {
    display: inline-block;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 45px;
    background-color: lightgreen;
    top: 40px;
    left: 40px;
    text-align: center;
    padding-top: 10px;
}

.new {
    display: inline-block;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 45px;
    background-color: red;
    top: 40px;
    right: 40px;
    text-align: center;
    padding-top: 10px;

}

.was {
    text-decoration: line-through;
    padding: 10px;
}

.buttons {
    text-align: center;
    
}

.buttons:hover {
    background-color: rebeccapurple;
}
img {
    width: 200px;
    height: auto;
}
.footer {
    display: block;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 2rem;
}
