body {
  display: flex;
  height: 100vh;
  /* width: 50vw; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.drum {
    width: 150px;
    height: 150px;
    background-color: #000;
    margin: 10px;
    color: #fff;
    cursor: pointer;
    text-align: center;
  }

  .drum.active {
    background-color: #d0cbcb; /* Update with your desired active color */
  }